doctype html 
html
  head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Food Delivery 
    block style 
    link(rel='stylesheet' href='../static/39_food.css')
    link(rel='stylesheet' media='screen and (max-width: 1093px)' href='../static/39_phone.css')
    block scripts 
  body 
    nav#nav
      #logo
        img(src='/static/imgs/goof.png' alt='')
      ul
        li.item
          a(href='#home') Home
        li.item
          a(href='#service-cont') Services
        li.item
          a(href='#client-section') Our Parteners
        li.item
          a(href='contact') About Us
    block content
    footer
        div.center
            | Copyright © www.gharkakhana.com All rights reserved 
    