extends base.pug

block scripts
  scripts(src='/static/index.js')

block style 
    style
       include ../static/39_food.css

block content 
   |  this is contact
//- html
//-   head
//-     title a
//-   body
//-     p 
//-     | abdc